<!DOCTYPE html>  
<html>  
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>  
<body>  
  
<div ng-app="">  
   
<p>Introduceti A si B in casete:</p>  
<p>A: <input type="number" ng-model="a"></p>  
<p>B: <input type="number" ng-model="b"></p>  
  
<p><b>Suma:</b> {{a}} + {{b}} = {{a + b}}</p>  
<p><b>Diferenta:</b> {{a}} - {{b}} = {{a - b}}</p>  
<p><b>Catul:</b> {{a}} / {{b}} = {{a / b}}</p>  
<p><b>Produsul:</b> {{a}} * {{b}} = {{a * b}}</p>  
  
</div>  
  
</body>  
</html>  
